ycm/**/compile_commands.json
.atom/blob-store
.atom/nohup.out
.nvim
*.asc

# pass dotfiles/muttrc
.muttrc

# setxdpi changes this all the time
/.Xresources

# per-system systemd config
/.config/systemd/user/*.wants

# fonts
/fonts/.uuid
/fonts/Menlo*
