[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule ".vim/bundle/molokai"]
	path = .vim/bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".vim/bundle/jedi-vim"]
	path = .vim/bundle/jedi-vim
	url = git@github.com:davidhalter/jedi-vim.git
