[user]
	name = aviau
	email = alexandre@alexandreviau.net
	signingkey = 3CCC3A3A
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore_global
[gitreview]
	username = reazem
[color]
	ui = auto
[color "branch"]
	current = red
	local = yellow
	remote = green
[color "diff"]
	meta = cyan
	frag = magenta
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[alias]
	st = status
	l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[commit]
	gpgsign = true
[gpg]
    program = gpg2
[apply]
	whitespace = fix
[url "git@salsa.debian.org:"]
	pushInsteadOf = https://salsa.debian.org/
[url "git@github.com:"]
	pushInsteadOf = https://github.com/
[http]
	cookiefile = /home/aviau/.gitcookies
