"*":
  "autocomplete-plus": {}
  core:
    disabledPackages: [
      "linter-pep8"
    ]
    useReactEditor: true
  editor:
    invisibles: {}
    preferredLineLength: 79
    softWrapAtPreferredLineLength: true
    tabLength: 4
  "exception-reporting":
    userId: "d5ed7e45-af6a-2729-48ee-4b691b0fde1c"
  "fuzzy-finder": {}
  "go-plus":
    goPath: "/home/reazem/go"
  metrics:
    userId: "63ce77a918de0ca05fef549c8715e16451b50f99"
  "one-dark-ui": {}
  "release-notes":
    viewedVersion: "0.96.0-4fa0b6e"
  "vim-mode":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
".c.source":
  editor:
    preferredLineLength: 79
".console.python.text":
  editor:
    preferredLineLength: 79
".cpp.source":
  editor:
    preferredLineLength: 79
".python.regexp.source":
  editor:
    preferredLineLength: 79
".python.source":
  editor:
    preferredLineLength: 79
".python.text.traceback":
  editor:
    preferredLineLength: 79
".rust.source":
  editor:
    preferredLineLength: 99
