configuration {
    modi: "run";

    kb-row-tab: "";
    kb-row-select: "Tab";

    kb-move-front: "Control+a";
    kb-move-end: "Control+e";

    kb-accept-entry: "Return,KP_Enter";

    kb-remove-to-eol: "";
    kb-remove-to-sol: "";
    kb-row-up: "Up,Control+k";
    kb-row-down: "Down,Control+j";
}
